body {
		
}

#textDisplay {
	width: 250px;
	background-color: #AAFFAA;
	margin-left: 50px;
	padding: 5px;
	border: solid black 2px; 
}

#monogoData {
	background-color: #AAFFAA;
	margin-left: 50px;
	margin-top: 10px;
	padding: 5px;
	border: solid black 5px;
	width: 600px;
}

.narrow {
	margin-left: 50px;
	width: 500px;
}
